@import "~bulma";
@import "~quill/dist/quill.snow.css";

$hairline: rgba(29, 29, 31, 0.1);

@mixin bgBlur() {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.72);
}

@mixin shadow() {
  box-shadow: rgba(109, 117, 141, 0.2) 0px 12px 48px 0px;
}

#editor {
  width: calc(100% - 40px);
  max-width: 1000px;
  margin: 20px auto;
  border: none;
  @extend .content;
  margin-top: 100px;
  margin-bottom: 100vh;
  .ql-editor {
    font-size: 1.25rem !important;
  }
}

.ql-container {
  font-family: "Helvetica", "Arial", sans-serif !important;
}
